<div class="page-header">
  <h2>Horizons Messenger</h2>
</div>
<form method="post">
  {{#if success}}
    <div class="alert alert-success">
      {{{success}}}
    </div>
  {{/if}}
  {{#if error}}
    <div class="alert alert-warning">
      {{error}}
    </div>
  {{/if}}
  <div class="form-group">
    <label for="to">To:</label>
    <input class="form-control" type="text" id="to" name="to" placeholder="Username" required>
  </div>
  <div class="form-group">
    <textarea name="body" class="form-control" rows="4" style="width: 100%" placeholder="Message" required></textarea>
  </div>
  <button type="submit" class="btn btn-default">Send</button>
</form>

<div class="page-header">
  <h3>Messages received</h3>
</div>

{{#each messages}}
<div class="well">
  <p><strong>From</strong> {{from.username}}</p>
  <p><strong>To</strong> {{../user.username}}</p>
  <p><strong>Message</strong> {{{body}}}</p>
</div>
{{/each}}
