<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}} Hack This App</title>
  <link href="/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="/jquery.min.js"></script>
  <script src="/bootstrap.min.js"></script>
  <style>
    body {
      padding-top: 20px;
    }

    #horizons-nav,
    #horizons-nav .navbar-nav a {
      background-color: rgb(255, 54, 73);
      color: white;
    }

    #horizons-nav .navbar-brand,
    #horizons-nav .navbar-nav a {
      color: white;
    }

    .hint {
      display: none;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" id="horizons-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Steal This App</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
          {{#if user.username}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Logged in as {{user.username}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/exercise2/messenger">Messenger</a></li>
              <li><a href="/exercise2/settings">Settings</a></li>
              <li><a href="/exercise2/logout">Logout</a></li>
            </ul>
          </li>
          {{else}}
          <li>
            <a href="#">
            Logged in as {{user}}
            </a>
          </li>
          {{/if}}
        {{else}}
        <li>
          <a href="#">
          Not logged in
          </a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
