<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Exercise 2: Insecure messenger</h1>
    </div>
    <p>
      This is a very simple app that lets you send messages between different
      users on this site.
    </p>
    <p>
      <h2><a href="https://github.com/horizons-school-of-technology/steal-this-app/blob/master/exercise2.md#part-1-hack">Instructions on GitHub</a></h2>
    </p>
    <!-- MESSENGER BEGIN -->
    <div class="page-header">
      <h2>Horizons Messenger</h2>
    </div>
    <form method="post">
      {{#if success}}
        <div class="alert alert-success">
          {{{success}}}
        </div>
      {{/if}}
      {{#if error}}
        <div class="alert alert-warning">
          {{error}}
        </div>
      {{/if}}
      <div class="form-group">
        <label for="to">To:</label>
        <input class="form-control" type="text" id="to" name="to" placeholder="Username" required>
      </div>
      <div class="form-group">
        <textarea name="body" class="form-control" rows="4" style="width: 100%" placeholder="Message" required></textarea>
      </div>
      <button type="submit" class="btn btn-default">Send</button>
    </form>

    {{#unless error}}
      <div class="page-header">
        <h3>Messages received</h3>
      </div>

      {{#each messages}}
      <div class="well">
        <form action="/exercise2/delete/{{_id}}" method="post" class="form-inline">
          <button class="btn btn-danger pull-right">Delete</button>
        </form>
        <p><strong>From</strong> {{from.username}}</p>
        <p><strong>To</strong> {{../user.username}}</p>
        <p><strong>Message</strong> {{body}}</p>
      </div>
      {{/each}}
    {{/unless}}
    <!-- MESSENGER END -->
  </div>
</div>
